<formset>
  <% languages.each do |l| %>
    <input type='hidden' name="page[page_translations_attributes][<%=l.code%>][language_id]" value='<%= l.id %>'>
    
    <div class="group">
      <label> Titolo (<%= l.name %>)
        <input type="text" name="page[page_translations_attributes][<%=l.code%>][title]" class="required text_field" value="<%= f.object.title(l.code)%>">
      </label>
      <span class="description">Titolo della pagina</span>
    </div>
  <% end %>
</formset>

<formset>
  <% languages.each do |l| %>
    <div class="group">
      <label> Testo (<%= l.name %>)
        <textarea type="text" name="page[page_translations_attributes][<%=l.code%>][text]" class="required text_area" rows="10"><%= f.object.text(l.code)%></textarea>
      </label>
      <span class="description">Testo alternativo del link</span>
    </div>
  <% end %>
</formset>

<div class="group">
  <label for="tag_list">Tags</label><%= f.error_message_on :tag_list %>
  <%=f.text_field :tag_list, :value => tags, :class => :text_field %>
  <span class="description">Lista <em>tag</em> divisi da virgola<br/>Formato: 'Montagna, Storia, ...'</span>
</div>

<div class="group">
  <%= f.label :parent_id %><%= f.error_message_on :parent_id %>
  <%= f.select :parent_id, :options => options_tree(my_id), :selected => f.object.parent_id, :class => :slide_text_field %>
</div>

<div class="group">
  <%= f.label :is_home_page %><%= f.error_message_on :is_home_page %>
  <%= f.check_box :is_home_page, :value => '1', :class => :slide_text_field %>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:pages, :index)}';return false", :class => :button %>
</div>