<div class="module_content">
  <%= f.input :title, :as => :string%>
  <%= f.input :lead,  :as => :text %>
  <%= f.input :text,  :as => :text %>
  <%= f.input :tag_list,  :as => :string %>
</div>


<fieldset id='advanced'>
  <legend>Avanzate</legend>
  <%= f.input :meta_keyword, :as => :string %>
  <%= f.input :meta_description, :as => :string %>
  <%= f.input :parent %>
  <%= f.input :menu %>
</fieldset>


<div class='submit_link'>
  <%= f.submit pat(:save), :class => :alt_btn %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:pages, :index)}';return false", :class => :button %>
</div>
