.group
  = f.label :title
  = f.error_message_on :title
  = f.text_field :title

.group
  = f.label :text
  = f.error_message_on :text
  = f.text_area :text, :id => 'wysiwyg'

.group
  = f.label :parent_id
  = f.error_message_on :parent_id
  = f.select :parent_id, :options => options_tree(f.object.id), :selected => f.object.parent_id

.group
  = f.label :is_home
  = f.error_message_on :is_home
  = f.check_box :is_home, :value => '1'
  %span.description Appare o meno nella Home

.group
  = f.label :is_drawer
  = f.error_message_on :is_drawer
  = f.check_box :is_drawer, :value => '1'
  %span.description Alla pagina viene aggiunto l'indice dei figli

= cpartial "custom/pages", :locals => { :f => f }

.group.navform
  = f.submit pat(:save), :class => :button
  = f.submit pat(:cancel), :onclick => "window.location='#{url(:pages, :index)}';return false", :class => :button
