<table cellspacing="0"> 
  <thead>
    <tr>
      <th class="last">&nbsp;</th>
      <th class="sortable"><%= mat(:account, :name) %></th>
      <th class="sortable"><%= mat(:account, :surname) %></th>
      <th class="sortable"><%= mat(:account, :role) %></th>
      <th class="last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= account.name %></td>
        <td><%= account.surname %></td>
        <td><%= account.role %></td>
        <td>
          <%= button_to pat(:edit), url(:accounts, :edit, :id => account.id), :method => :get, :class => 'btn edit' %>
          <%= button_to pat(:delete), url(:accounts, :destroy, :id => account.id), :method => :delete, :class => 'btn trash', :onsubmit => "return confirm('#{pat(:confirm)}')" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer></footer>

<% content_for :actions, partial("admin/base/actions", :locals => { :p => :accounts }) %>

<% content_for :title, 'Utenti' %>
