<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:fortunes, :index) %></li>
      <li><%= link_to pat(:new), url(:fortunes, :new) %></li>
      <li class="active"><%= link_to pat(:edit), url(:fortunes, :edit, :id => @fortune.id) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:edit) %> <% mt(:fortune) %></h2>
    <div class="inner">
      <% form_for :fortune, url(:fortunes, :update, :id => @fortune.id), :charset => 'utf8', :method => :put, :class => :form do |f| %>
        <%= partial "fortunes/form", :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>