<div class="event">
  <h1><%= @event.title %></h1>

  <div class="dates">
    <%= t'events.from' %> <span class="date"><%= @event.from %></span>
    <%= t'events.to' %> <span class="date"><%= @event.to %></span>
  </div>

  <%= image_tag(@event.file.thumb('400x')) if !@event.file.nil? %>

  <div class="description"><%= @event.description %></div>

  <div class="slideshow">
    <% photos_by_keywords(@event.tag_list).each do |p| -%>
      <%= image_tag(p.file.thumb('50x50'), :rel => "lightbox") %>
    <% end -%>
  </div>
</div>

<% if !@next.nil? -%>
  <div class="events_next">
    <h1><%= t('events.next') %></h1>

    <% @next.each do |e| -%>
      <div class="event_next">
        <h1><%= link_to(e.title, url(:show, :slug => e.slug || '')) %></h1>
        <div class="dates">
          <%= t'events.from' %> <span class="date"><%= e.from %></span>
          <%= t'events.to' %> <span class="date"><%= e.to %></span>
        </div>
      </div>
    <% end -%>
  </div>
<% end -%>

<% if !@past.nil? and @past.count > 0 -%>
  <div class="events_past">
    <h1><%= t('events.past') %></h1>

    <% @past.each do |e| -%>
      <div class="event_next">
        <h1><%= link_to(e.title, url(:show, :slug => e.slug || '')) %></h1>
        <div class="dates">
          <%= t'events.from' %> <span class="date"><%= e.from %></span>
          <%= t'events.to' %> <span class="date"><%= e.to %></span>
        </div>
      </div>
    <% end -%>
  </div>
<% end -%>

<% content_for :title, t('events.title') -%>