<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Admin</title>
    <%= stylesheet_link_tag("admin/base", "admin/style", "admin/formalize") %>
    <!-- script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' -->
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <h1><%= link_to("admin", url(:base_index)) %></h1>
        <div id='user-navigation'>
          <ul class='wat-cf'>
            <li><%=link_to(pat(:profile), url(:accounts, :edit, :id => current_account.id)) %></li>
            <li><%=link_to(pat(:logout), url(:sessions, :destroy), :method => :delete)%></li>
          </ul>
        </div>
        <div id='main-navigation'>
          <ul class='wat-cf'>
            <%- project_modules.each do |project_module| %>
              <li class="<%= { "active" if request.path_info =~ /^#{project_module.path}/} %>">
                <%=link_to(project_module.human_name, project_module.path("/#!")) %>
              </li>
            <%- end %>
          </ul>
        </div>
      </div>
      <div id='wrapper' class='wat-cf'>
        <div id='main'>Dashboard!mi servono un po di statistiche! almeno un coso che le visite</div>
        <div id='sidebar'><%= partial("base/sidebar") %></div>
      </div>
      <div id='flash'>&nbsp;</div>
      <div id='footer'>
        <div class='block'>
          <p>
            Copyright &copy; #{Time.now.year} G.T.Games - Powered by
            <%= link_to("Machete v.0.4.8", "http://machete.it", :target => :_blank) %>
          </p>
        </div>
      </div>
    </div>
    <%= partial('templates/main')%>
    <%= partial('templates/pages')%>
    <%= partial('templates/posts')%>
    <%= partial('templates/links')%>
    <script src='/javascripts/libs/jquery.min.js'></script>
    <script src='/javascripts/libs/handlebars.js'></script>
    <script src='/javascripts/libs/json2.js'></script>
    <script src='/javascripts/libs/underscore.js'></script>
    <script src='/javascripts/libs/backbone.js'></script>
    <script src='/javascripts/admin/lib.js'></script>
    <script src='/javascripts/admin/pages.js'></script>
    <script src='/javascripts/admin/posts.js'></script>
    <script src='/javascripts/admin/menus.js'></script>
    <script src='/javascripts/admin/app.js'></script>
  </body>
</html>