<div class="module_content">
  <%= f.input :title, :as => :string%>
  <%= f.input :photo, :as => :string%>
  <%= f.input :lead,  :as => :text %>
  <%= f.input :text,  :as => :text %>
  <%= f.input :tag_list,  :as => :string %>
</div>

<div class='submit_link'>
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:posts, :index)}';return false", :class => :button %>
</div>