<div class="group">
  <%= f.label :title %><%= f.error_message_on :title %>
  <%= f.text_field :title, :class => :text_field %>
  <span class="description"><%=t 'admin.menu.title.description' %></span>
</div>
<div class="group">
  <%= f.label :alt %><%= f.error_message_on :alt %>
  <%= f.text_field :alt, :class => :text_field %>
  <span class="description"><%=t 'admin.menu.alt.description' %></span>
</div>

<div class="group">
  <%= f.label :url %><%= f.error_message_on :url %>
  <%= f.text_field :url, :class => :text_field %>
  <span class="description"><%=t 'admin.menu.url.description' %></span>
</div>

<div class="group">
  <%= f.label :weigth %><%= f.error_message_on :weigth %>
  <%= f.text_field :weigth, :class => :slide_text_field %>
  <div id="weigth_slider"></div>
  <span class="description"><%=t 'admin.menu.weigth.description' %></span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:menus, :index)}';return false", :class => :button %>
</div>