<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:menus, :index) %></li>
      <li><%= link_to pat(:new), url(:menus, :new) %></li>
      <li class="active"><%= link_to pat(:edit), url(:menus, :edit, :id => @menu.id) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:edit) %> <% mt(:menu) %></h2>
    <div class="inner">
      <% form_for :menu, url(:menus, :update, :id => @menu.id), :charset => 'utf8', :method => :put, :class => :form do |f| %>
        <% languages.each do |l| %>
        <% if pid = f.object.translate('id', l.code) %>
          <input type='hidden' name="menu[menu_translations_attributes][<%=l.code%>][id]" value='<%= pid %>'>
        <% end %>
        <% end %>
        <%= partial "menus/form", :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>