<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:menus, :index) %></li>
      <li><%= link_to pat(:new), url(:menus, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:menu) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:menu, :id) %></th>
          <th><%= mat(:menu, :title) %></th>
          <th><%= mat(:menu, :url) %></th>
          <th><%= mat(:menu, :weigth) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @menus.each do |menu| %>
        <tr>
          <td class="first"><%= menu.id %></td>
          <td><%= menu.title %></td>
          <td><%= menu.url %></td>
          <td><%= menu.weigth %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:menus, :edit, :id => menu.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:menus, :destroy, :id => menu.id), :method => :delete, :class => :button_to %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>