<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <link rel="stylesheet" href="/stylesheets/admin/layout.less" type="text/less" media="screen" title="no title" charset="utf-8">
  <script src="/javascripts/libs/less.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    less.env = 'development';
    less.watch();
  </script>
</head>
<body>

  <div id='login_box'>
    <div class="flash">
      <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
    </div>
    <h1>Login Box</h1>
    <% form_tag(url(:sessions, :create), :class => 'form login') do %>
      <p>
        <label for="username">Login</label>
        <%= text_field_tag :username, :value => params[:username], :id => 'username' %>
      </p>
      <p>
        <label for="password">Password</label>
        <%= password_field_tag :password, :value => params[:password], :id => 'password' %>
      </p>
      <% if Padrino.env == :development %>
        <p>
          <label for="bypass">Bypass login?</label>
          <%= check_box_tag :bypass, :id => 'bypass' %>
        </p>
      <% end %>
      <div class="submit_link">
        <%= submit_tag "Sign in", :class => :button %>
      </div>
    <% end %>
  </div>
</body>
</html>