!!! 5
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => "utf-8"}
    %link{:href => "http://frenzart.com/css/admin.css", :rel => "stylesheet", :type => "text/css"}
    %script{:charset => "utf-8", :src => "http://frenzart.com/js/modernizr.js", :type => "text/javascript"}
    %title Machete Administration - #{BASE_TITLE}
  %body
    #container
      #box
        #block-login.block
          %img#logo{ :src => "/images/machete.png", :title => "Machete Backend" }
          .content.login
            .flash
              = [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
            - form_tag(url(:sessions, :create), :class => 'form login') do
              .group.wat-cf
                .left
                  %label.label.right Login
                .right
                  = text_field_tag :email, :value => params[:email], :class => 'text_field'
              .group.wat-cf
                .left
                  %label.label.right Password
                .right
                  = password_field_tag :password, :value => params[:password], :class => 'text_field'
              .group.navform.wat-cf
                .right
                  = submit_tag "Sign in", :class => :button
