<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <%= stylesheet_link_tag :base, "themes/default/style" %>
</head>
<body>

  <div id='login_box'>
    <h2>Login Box</h2>
      <div class="content login">
        <div class="flash">
          <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
        </div>
        <% form_tag(url(:sessions, :create), :class => 'form login') do %>
          <label class="label right">Login</label>
          <%= text_field_tag :email, :value => params[:email], :class => 'text_field' %>
          <label class="label right">Password</label>
          <%= password_field_tag :password, :value => params[:password], :class => 'text_field' %>

          <% if Padrino.env == :development %>
            <label class="label right">Bypass login?</label>
            <%= check_box_tag :bypass %>
          <% end %>
          <%= submit_tag "Sign in", :class => :button %>
        <% end %>
    </div>
  </div>
</body>
</html>