<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:40px">&nbsp;</th>
			<th class="sortable"><%= mat(:message, :author) %></th>
			<th class="sortable"><%= mat(:message, :email) %></th>
			<th class="sortable"><%= mat(:message, :created_at) %></th>
			<th class="last">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @messages.each do |m| %>
		<tr>
			<td>
				<% if m.st == 0 %>
					<span class="label">read</span>
				<% elsif m.st == 1 %>
					<span class="label label-important">new</span>
				<% else %>
					<span class="label">deleted</span>
				<% end %>
			</td>
			<td><%= m.author %> </td>
			<td><em><%= m.email %></em></td>
			<td class="date"><%= m.created_at %></td>
			<td class="last">
				<%= edit_button pat(:show), url(:messages, :show, :id => m.id) %>
				<%= delete_button pat(:delete), url(:messages, :destroy, :id => m.id) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


<% content_for :actions do -%>
	<li><a href="/messages"><i class="icon-inbox"></i>  Lista</a></li>
	<li><a href="/messages/trash"><i class="icon-trash"></i>  Cestino</a></li>
<% end -%>

<% content_for :title, 'Messaggi' %>