<table class="zebra-striped">
	<thead>
		<tr><th colspan="2">Messaggio</th></tr>
	</thead>
	<tbody>
		<tr><td style="width:300px">Autore</td><td><%= @message.author %></td></tr>
		<tr><td style="width:300px">email</td><td><%= @message.email %></td></tr>
		<tr><td style="width:300px">telefono</td><td><%= @message.phone %></td></tr>
		<tr><td style="width:300px">testo</td><td><%=h @message.text %></td></tr>
	</tbody>
</table>

<% content_for :title, "Messaggio da #{@message.author}" %>
<% content_for :actions do -%>
  <%= link_to "Lista", url(:messages, :index) %> | 
  <%= link_to "Cestino", url(:messages, :trash) %>
<% end -%>