<!DOCTYPE html>
<html class='no-js'>
  <head>
	<meta charset="utf-8">
	<meta name="description" content="<%= Cfg[:description] %> <%= yield_content(:description) %>">
	<meta name="keywords"    content="<%= Cfg[:keywords] %> <%= yield_content(:keywords) %>">
	<meta name="author"      content="<%= Cfg[:author] %>">
	<meta name="generator"   content="Machete ( http://machete.it ) by gtgames.it">

	<link rel="canonical" href="http://<%= Cfg[:domain] %>/" />

	<% if Padrino.env == :development -%>
		<link rel="stylesheet/less" href="/stylesheets/layout.less" type="text/css" media="screen">
		<script src="http://frenzart.com/js/less.js" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">less.env = 'development';less.watch();</script>
	<% else -%>
		<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" charset="utf-8">
	<% end -%>

	<%= partial 'shared/javascripts'>

	<title><%= Cfg[:title][Cfg.locale] %> <%= yield_content(:title) %></title>
  </head>
  <body>

	<nav class="container">
		<ul class="pills span16">
			<% cache("nav_#{Cfg.locale}") do -%>
				<li><%= link_to t('home'), '/' %></li>
				<% Link.all.each do |m| %>
					<li><%= link_to m.title[Cfg.locale], m.url[Cfg.locale] %></li>
				<% end %>
				<li><%= link_to t('gallery'), '/gallery' %></li>
				<li><%= link_to t('contact'), '/contact' %></li>
			<% end -%>
		</ul>
	</nav>

	<header id="header" class="container">
		<img src="/images/logo.png">
		<div class="span16">
	  		<h1><%= Cfg[:title][Cfg.locale] %></h1>
		</div>
	</header>

	<section class="container">
		<div class="row">
			<div class="span10 content">
				<%= yield %>
			</div>
			<div class="column span6">
			<% cache("taxonomy_tree_#{Cfg.locale}", :expires_in => 120) do %>
				<%= partial('shared/taxonomy', :locals =>{:taxons => Taxonomy.threaded}) %>
			<% end -%>
			</div>
		</div>
	</section>

	<footer class="container">
		<div class="row">
			<div class="span2 social"><%= partial('shared/social') %></div>
			<div class="span12">
				<%= partial("shared/footer") %>
			</div>
			<% if Cfg['google_translate'] -%>
			<div id="google_translate_element" class="span16"></div><script>
			function googleTranslateElementInit() {
			  new google.translate.TranslateElement({
			    pageLanguage: '<%= Cfg.locale %>'
			  }, 'google_translate_element');
			}</script><script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			<% end -%>
		</div>
	</footer>
  </body>
</html>
