<formset>
  <% languages.each do |l| %>
    <input type='hidden' name="product[product_translations_attributes][<%=l.code%>][language_id]" value='<%= l.id %>'>

    <div class="group">
      <%= f.error_message_on :title %>
      <label> Nome (<%= l.name %>)
        <input type="text" name="product[product_translations_attributes][<%=l.code%>][name]" class="text_field" value="<%= f.object.name l.code%>">
      </label>
      <span class="description">Nome della categoria</span>
    </div>
  <% end %>
</formset>
<formset>
  <% languages.each do |l| %>
    <div class="group">
      <%= f.error_message_on :title %>
      <label> Descrizione (<%= l.name %>)
        <input type="text" name="product[product_translations_attributes][<%=l.code%>][description]" class="text_field" value="<%= f.object.description l.code%>">
      </label>
    </div>
  <% end %>
</formset>

<div class="group">
  <div class="group">
    <%= f.label :image %><%= f.error_message_on :image %>
    <% unless f.object.image_file_name.nil? %>
      <img src="<%= f.object.image.url(:thumb) %>" class="image_thumb">
    <% end %>
    <%= f.file_field :image, :class => :file_field %>
  </div>
</div>

<div class="group">
  <%= f.label :category_id %><%= f.error_message_on :parent_id %>
  <%= f.select :category_id, :options => category_options, :selected => f.object.category_id, :class => :slide_text_field %>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:shop, :products)}';return false", :class => :button %>
</div>
