<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:shop, :products) %></li>
      <li><%= link_to pat(:new), url(:shop, :new_product) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:product) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:product, :id) %></th>
          <th><%= mat(:product, :name) %></th>
          <th><%= mat(:product, :category) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @products.each do |p| %>
        <tr>
          <td class="first"><%= p.id %></td>
          <td><%= p.name %></td>
          <td><%= p.category.name unless p.category.nil? %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:shop, :edit_product, :id => p.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:shop, :destroy_product, :id => p.id), :method => :delete, :class => :button_to %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("shop/sidebar") %>
