%nav.secondary-navigation
  %ul
    %li.first= link_to pat(:list), url(:partner, :index)
    %li.active= link_to pat(:new), url(:partner, :new)
.content
  %h2
    = pat(:new)
    = mt(:partner)
  .inner
    - form_for :partner, url(:partner, :create), :multipart => true, :class => :form do |f|
      = partial "partners/form", :locals => { :f => f }
