<formset>
  <% languages.each do |l| %>
    <input type='hidden' name="category[category_translations_attributes][<%=l.code%>][language_id]" value='<%= l.id %>'>

    <div class="group">
      <%= f.error_message_on :title %>
      <label> Nome Categoria (<%= l.name %>)
        <input type="text" name="category[category_translations_attributes][<%=l.code%>][name]" class="text_field" value="<%= f.object.name l.code%>">
      </label>
      <span class="description">Nome della categoria</span>
    </div>
  <% end %>
</formset>
<formset>
  <% languages.each do |l| %>
    <div class="group">
      <%= f.error_message_on :title %>
      <label> Descrizione (<%= l.name %>)
        <input type="text" name="category[category_translations_attributes][<%=l.code%>][description]" class="text_field" value="<%= f.object.description l.code%>">
      </label>
    </div>
  <% end %>
</formset>


<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:shop, :categories)}';return false", :class => :button %>
</div>
