<form action="/booking/new" method="POST" class="form-stacked" id="booking_widget">

	<div class="string">
		<label class="string" for="booking_date_arrival"><%= t"models.booking.attributes.date_arrival" %></label>
		<input class="string" value="" id="booking_date_arrival" name="booking[date_arrival]" type="text" />
	</div>
	<div class="string">
		<label class="string" for="booking_date_departure"><%= t"models.booking.attributes.date_departure" %></label>
		<input class="string" value="" id="booking_date_departure" name="booking[date_departure]" type="text" />
	</div>

	<div class="string">
		<label class="string" for="booking_adults"><%= t"models.booking.attributes.adults" %></label>
		<input class="string" value="1" id="booking_adults" name="booking[adults]" type="text" />
	</div>
	<div class="string">
		<label class="string" for="booking_children"><%= t"models.booking.attributes.children" %></label>
		<input class="string" value="0" id="booking_children" name="booking[children]" type="text" />
	</div>

	<div class="actions">
		<input type="submit" class="btn" value="<%= t"save" %>">
	</div>
</form>
