<article>
	<% form_for :booking, url(:new), :class => "span10" do |f| -%>
		<%= f.input :name %>
		<%= f.input :surname %>
		<%= f.input :city %>
		<%= f.input :email %>
		<%= f.input :phone %>
		<%= f.input :fax %>
		<%= f.input :adults %>
		<%= f.input :children %>
		<%= f.input :business_name %>
		<%= f.input :address %>
		<%= f.input :vat %>
		<%= f.input :snn %>
		<hr>
		<%= f.input :date_arrival %>
		<%= f.input :date_departure %>
		<hr>
		<%= f.input :notes, :as => :text %>
		<div><%= t'booking.terms' %></div>
		<div class='form-actions'>
			<%= f.submit t(:save), :class => "btn primary" %>
			<%= f.submit t(:cancel), :onclick => "window.location='/'", :class => :btn %>
		</div>

	<% end -%>
</article>

