<form method="post"  class="card form-stacked row" action="/configurations/vcard_update">

<div class="span12">

	<div class="row">
		<div class="field span4">
			<label for="givenname">Nome</label>
			<input type="text" id="givenname" name="card[givenname]" value="<%= Cfg['card']['givenname'] %>" />
		</div>
		<div class="field span4">
			<label for="additionalname">Secondo Nome</label>
			<input type="text" id="additionalname" name="card[additionalname]" value="<%= Cfg['card']['additionalname'] %>" />
		</div>
		<div class="field span4">
			<label for="familyname">Cognome</label>
			<input type="text" id="familyname" name="card[familyname]" value="<%= Cfg['card']['familyname'] %>" />
		</div>
	</div>
	<p></p>
	<div class="row">
	    <div class="field span12">
	      <label for="vorg">Organizzazione</label>
	      <input class="span12" type="text" id="org" name="card[org]" value="<%= Cfg['card']['org'] %>" />
	    </div>
	</div>
	<p></p>
	<div class="row">
	    <div class="field span6">
	      <label for="street">Via</label>
	      <input class="span6" type="text" id="street" name="card[street]" value="<%= Cfg['card']['street'] %>" />
	    </div>
	    <div class="field span6">
	      <label for="city">Citt&agrave;</label>
	      <input class="span6" type="text" id="city" name="card[city]" value="<%= Cfg['card']['city'] %>" />
	    </div>
	</div>
	<p></p>
	<div class="row">
	    <div class="field span4">
	      <label for="region">Provicia</label>
	      <input type="text" id="region" name="card[region]" value="<%= Cfg['card']['region'] %>" />
	    </div>
	    <div class="field span4">
	      <label for="postal">CAP</label>
	      <input type="text" id="postal" name="card[postal]" value="<%= Cfg['card']['postal'] %>" />
	    </div>

	    <div class="field span4">
	      <label for="country">Nazione</label>
	      <input type="text" id="country" name="card[country]" value="<%= Cfg['card']['country'] %>" />
	    </div>
	</div>
	<p></p>
	<div class="row">
	    <div class="field span6">
	      <label for="phone">Telefoni</label>
	      <input class="span6" type="text" id="phone" name="card[phone]" value="<%= Cfg['card']['phone'] %>" />
	      <p>Numeri di telefono divisi da virgola</p>
	    </div>
	    <div class="field span6">
	      <label for="email">Email</label>
	      <input class="span6" type="text" id="email" name="card[email]" value="<%= Cfg['card']['email'] %>" />
	    </div>
	</div>
	<div class="row">
	    <div class="field span6">
	      <label for="url">URL sito web o resum&egrave;</label>
	      <input class="span6"  type="text" id="url" name="card[url]" value="<%= Cfg['card']['url'] %>" />
	    </div>
	    <div class="field span6">
	      <label for="photo">URL foto personale</label>
	      <input class="span6"  type="text" id="photo" name="card[photo]" value="<%= Cfg['card']['photo'] %>" />
	    </div>
	</div>

  <input type="hidden" id="hcard" name="hcard" />
  <input type="hidden" id="vcard" name="vcard" />

    <div class="span12 actions">
		<input class="btn primary" type="submit" value="Salva">
		<input class="btn danger" type="reset" />
    </div>
</div>	

	<div class="span4 well">
		<h2>Preview</h2>
		<hr>
		<div id="target"></div>
	</div>

</form>
</div>

<% content_for :title do -%>
  Creatore <a href="http://microformats.org/wiki/hcard">hCard</a> e <a href="http://microformats.org/wiki/vcard">vCard</a>
<% end -%>
<% content_for :actions do -%>
  <%= link_to "generali", url(:configurations, :index) %> |
  <%= link_to "vCard", url(:configurations, :vcard) %>
<% end -%>
