<form method="post"  class="form span8" action="/configurations/vcard_update">

<div class="row-fluid">
	<div class="field span5">
		<label for="givenname">Nome</label>
		<input type="text" id="givenname" name="card[givenname]" value="<%= Cfg['card']['givenname'] %>" />
	</div>
	<div class="field span2">
		<label for="additionalname">Secondo Nome</label>
		<input class="span1" type="text" id="additionalname" name="card[additionalname]" value="<%= Cfg['card']['additionalname'] %>" />
	</div>
	<div class="field span5">
		<label for="familyname">Cognome</label>
		<input type="text" id="familyname" name="card[familyname]" value="<%= Cfg['card']['familyname'] %>" />
	</div>
</div>

<hr>

<div class="row-fluid">
    <div class="field span12">
      <label for="vorg">Organizzazione</label>
      <input class="span8" type="text" id="org" name="card[org]" value="<%= Cfg['card']['org'] %>" />
    </div>
</div>
<div class="row-fluid">
    <div class="field span6">
      <label for="street">Via</label>
      <input type="text" id="street" name="card[street]" value="<%= Cfg['card']['street'] %>" />
    </div>
    <div class="field span6">
      <label for="city">Citt&agrave;</label>
      <input type="text" id="city" name="card[city]" value="<%= Cfg['card']['city'] %>" />
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="field span6">
      <label for="region">Provicia</label>
      <input type="text" id="region" name="card[region]" value="<%= Cfg['card']['region'] %>" />
    </div>
    <div class="field span6">
      <label for="postal">CAP</label>
      <input type="text" id="postal" name="card[postal]" value="<%= Cfg['card']['postal'] %>" />
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="field span12">
      <label for="country">Nazione</label>
      <input class="span8" type="text" id="country" name="card[country]" value="<%= Cfg['card']['country'] %>" />
    </div>
</div>

<hr>

<div class="row-fluid">

    <div class="field span4">
      <label for="phone">Telefoni</label>
      <input class="span2" type="text" id="phone" name="card[phone]" value="<%= Cfg['card']['phone'] %>" />
      <p>Numeri di telefono divisi da virgola</p>
    </div>
    <div class="field span4">
      <label for="email">Email</label>
      <input class="span2" type="text" id="email" name="card[email]" value="<%= Cfg['card']['email'] %>" />
    </div>

    <div class="field span4">
      <label for="url">URL sito web o resum&egrave;</label>
      <input class="span2" type="text" id="url" name="card[url]" value="<%= Cfg['card']['url'] %>" />
    </div>
</div>

<div class="row-fluid">
    <div class="field span4">
      <label for="photo">URL foto personale</label>
      <input class="span2" type="text" id="photo" name="card[photo]" value="<%= Cfg['card']['photo'] %>" />
    </div>

	<div class="field span8">
      <label for="note">Note</label>
      <input class="span5" type="text" id="note" name="card[note]" value="<%= Cfg['card']['note'] %>" />
		<p>Varie, come Partita IVA o note generali d'impresa</p>
    </div>
</div>

	<input type="hidden" id="hcard" name="hcard" />
	<input type="hidden" id="vcard" name="vcard" />

	<div class="form-actions">
		<input class="btn primary" type="submit" value="Salva">
		<input class="btn danger" type="reset" />
	</div>
</form>

<div class="span2">
	<h2>Preview</h2>
	<hr>
	<div id="target"></div>
</div>


<% content_for :title, 'vCard' -%>
<% content_for :actions do -%>
	<li><a href="/configurations"><i class="icon-cog"></i> generali</a></li>
	<li><a href="/configurations/vcard"><i class="icon-user"></i> vCard</a></li>
<% end -%>
