<div class="module_content">
  <%= f.input :title, :as => :string %>

  <% if f.object.file.nil? -%>
    <%= f.input :file, :as => :file %>
  <% else -%>
    <%= f.input :file, :value => f.object.file.id.to_s, :type => :hidden %>
    <%= image_tag(f.object.file.thumb('200xx200')) %>
  <% end -%>

  <%= f.input :tag_list,  :as => :string, :class => :tagger %>

  <h2>Galleria</h2>
  <% if (galleries = Photo.galleries).size > 0 -%>
    <%= f.select :gallery, :options => Photo.galleries %>
    <div>
      <input type='text' id='photo_gallery_add_input'> <a id="photo_gallery_add" href="#">Aggiungi</a>
    </div>
  <% else -%>
    <%= f.input :gallery, :as => :string, :caption => nil %>
  <% end -%>
</div>

<div class='form-actions'>
  <%= f.submit pat(:save), :class => "btn primary" %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:photos, :index)}';return false", :class => :btn %>
</div>


<script type="text/javascript">
$(document).ready(function(){
	$('#photo_gallery_add').bind('click', function(e){
		var v = $('#photo_gallery_add_input').val();
		if (v.length > 0){
			$('#photo_gallery').append( $('<option value="' + v + '" selected >' + v + '</option>') );
			$('#photo_gallery option:selected').first().val(v);
		}
		return false;
	});
});
</script>
