<div class="module_content">
  <%= f.input :title, :as => :string %>
  <%= f.input :photo, :as => :file %>
  <%= f.input :lead,  :as => :text %>
  <%= f.input :text,  :as => :text, :class => :editor %>
  <%= f.input :tag_list,  :as => :string %>
</div>

<div class='form-actions'>
  <%= f.submit pat(:save), :class => "btn primary" %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:posts, :index)}';return false", :class => :btn %>
</div>
