<div class="module_content">
  <% Cfg[:locales].each do |l| -%>
    <div class="language <%= l %>">
      <%= f.input :"title(#{l})", :caption => mat(:links, :title), :as => :string, :value => "#{f.object.title[l]}"  %>
      <%= f.input :"url(#{l})", :caption => mat(:links, :url), :as => :string, :value => "#{f.object.url[l]}" %>
    </div>
  <% end -%>
</div>

<footer>
  <div class='form-actions'>
    <%= f.submit pat(:save), :class => "btn primary" %>
    <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:links, :index)}';return false", :class => :btn %>
  </div>
</footer>

