<table class="table table-striped"> 
	<thead>
		<tr>
			<th class="sortable"><%= mat(:link, :title) %></th>
			<th class="sortable"><%= mat(:link, :url) %></th>
			<th class="last">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @links.each do |link| %>
		<tr>
			<td><%= link.title %></td>
			<td><%= link.url %></td>
			<td>
				<%= edit_button pat(:edit), url(:links, :edit, :id => link.id) %>
				<%= delete_button pat(:delete), url(:links, :destroy, :id => link.id) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<% content_for :actions, partial("admin/base/actions", :locals => { :p => :links }) %>
<% content_for :title, 'Menu' %>
