<form method="post" action="/configurations/update" accept-charset="UTF-8">
  <div class="module_content">
    <div class="string">
      <label class="string" for="author">Autore</label>
      <input class="string" id="author" name="author" type="text" value="<%= Cfg['author'] %>" />
      <p class="description">Autore dei contenuti del sito web, detentore e responsabile legale del Copyright sui contenuti</p>
    </div>

    <% Cfg[:locales].each do |l| -%>
      <div class="string <%= l -%>">
        <label class="string" for="title_<%= l -%>">Titolo</label>
        <input class="string" id="title_<%= l -%>" name="title[<%= l -%>]" type="text" value="<%= Cfg['title'][l] || '' %>" />
        <p class="description">Titolo del sito web, apparir&agrave; all'inizio di tutte le pagine del sito web</p>
      </div>
      <div class="text <%= l -%>">
        <label class="editor" for="homepage_<%= l -%>">Prima Pagina</label>
        <textarea class="text" id="homepage_<%= l -%>" name="homepage[<%= l -%>]" rows="" cols=""><%= Cfg['homepage'][l] || '' %></textarea>
        <p class="description">Contenuto della pagina iniziale (se configurabile)</p>
      </div>
    <% end -%>

  </div>

  <fieldset id='advanced'>
    <legend>Avanzate</legend>
    <div class="string">
      <label class="string" for="analytics">ID Google Analytics</label>
      <input class="string" id="analytics" name="analytics" type="text" value="<%= Cfg['analytics'] %>" />
    </div>
    <div class="string">
      <label class="string" for="analytics">ID Analista</label>
      <input class="string" id="analytics" name="analyst" type="text" value="<%= Cfg['analyst'] %>" />
    </div>
    <div class="string">
      <label class="string" for="keywords">Keyword META</label>
      <input class="string" id="keywords" name="keywords" type="text" value="<%= Cfg['keywords'] %>" />
    </div>
    <div class="string">
      <label class="string" for="description">Descrizione META</label>
      <input class="string" id="description" name="description" type="text" value="<%= Cfg['description'] %>" />
    </div>
  </fieldset>

  <div class='submit_link'>
    <input class="alt_btn" value="Salva" type="submit" />
    <input onclick="window.location='/';return false" class="button" value="Annulla" type="submit" />
  </div>
</form>
<% content_for :title, 'Impostazioni Generali' %>
<% content_for :actions do -%>
  <%= link_to "generali", url(:configurations, :index) %> | 
  <%= link_to "vCard", url(:configurations, :vcard) %>
<% end -%>
