<section>
  <h1><%=@category.name%></h1>
  <p><%=@category.description%></p>
  <ul>
  <% @category.products.each do |p| %>
    <li class="product_preview">
      <span class="product_name"><%=p.name%></span>
      <img src="<%=p.image.url(:thumb)%>" alt="<%=p.name%>">
    </li>
  <%end%>
  </ul>
</section>