<% @categories.each do |c| %>
  <section>
    <h1><%=c.name%></h1>
    <p><%=c.description%></p>
    <ul>
    <% c.products.each do |p| %>
      <li class="product_preview">
        <span class="product_name"><%=p.name%></span>
        <img src="<%=p.image.url(:thumb)%>" alt="<%=p.name%>">
      </li>
    <%end%>
    </ul>
  </section>
<%end%>