<div class="group">
  <%= f.label :title %><%= f.error_message_on :title %>
  <%= f.text_field :title, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group">
  <%= f.label :photo %><%= f.error_message_on :photo %>
  <% if photo %>
    <img src="<%= photo %>" class="image_thumb">
  <% end %>
  <%= f.file_field :photo, :class => :file_field %>
</div>

<div class="group">
  <label for="tag_list">Lista tag</label><%= f.error_message_on :page_tag_list %>
  <%=f.text_field :tag_list, :value => tags, :class => :text_field %>
  <span class="description">Lista <em>tag</em> divisi da virgola<br/>Formato: 'Montagna, Storia, ...'</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:photos, :index)}';return false", :class => :button %>
</div>
