<div class="module_content">
  <%= f.input :title, :as => :string%>
  <%= f.input :file,  :as => :file %>
  <%= f.input :tag_list,  :as => :string, :class => :tag_list %>
</div>

<footer>
  <div class='submit_link'>
    <%= f.submit pat(:save), :class => :alt_btn %>
    <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:pages, :index)}';return false", :class => :button %>
  </div>
</footer>