<table cellspacing="0"> 
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= mat(:page, :title) %></th>
      <th><%= mat(:page, :file) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= photo.title %></td>
        <td><%= link_to image_tag( photo.file.thumb('50xx50') ), photo.file.url %></td>
        <td>
          <%= button_to pat(:edit), url(:photos, :edit, :id => photo.id), :method => :get, :class => 'button_to edit' %>
          <%= button_to pat(:delete), url(:photos, :destroy, :id => photo.id), :method => :delete, :class => 'button_to trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% content_for :actions, partial("base/actions", :locals => { :p => :photos }) %>

<% content_for :title, 'Foto' %>
