<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:photos, :index) %></li>
      <li><%= link_to pat(:new), url(:photos, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:photo) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:image, :id) %></th>
          <th><%= mat(:photo, :title) %></th>
          <th><%= mat(:photo, :photo) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @photos.each do |image| %>
        <tr>
          <td class="first"><%= image.id %></td>
          <td><%= image.title %></td>
          <td><a class="photobox" href="<%= image.photo.url %>"><%= image.photo.url(:thumb) %></a> (<%= (image.photo.size.to_i/1024).to_i %> Kb)</td>
          <td class="last">
            <%= button_to pat(:edit), url(:photos, :edit, :id => image.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:photos, :destroy, :id => image.id), :method => :delete, :class => :button_to %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
