<div class="module_content">
  <% Cfg[:locales].each do |l| -%>
    <div class="language <%= l %>">
      <%= f.input :"title(#{l})", :caption => mat(:taxonomy, :title), :as => :string %>
      <%= f.input :"description(#{l})", :caption => mat(:taxonomy, :description), :as => :text, :class => :editor %>
    </div>
  <% end -%>
</div>

<div>
  <%= f.input :parent_id, :as => :string, :type => :hidden %>

  <script src="http://jquery-option-tree.googlecode.com/svn/trunk/jquery.optionTree.js" type="text/javascript"></script>
  <input name='_dummy' type="hidden">
  <script type="text/javascript">
    $(function() {
      $.getJSON('tree.js', function(tree) {
        $('input[name=_dummy]').optionTree(tree, {
          preselect: {'_dummy': "---"},
        }).change(function(){ $('input[name="taxonomy[parent_id]"]').attr('value', this.value); });
      });
    });
  </script>
</div>

<fieldset id='advanced'>
  <legend>Avanzate</legend>
  <% Cfg[:locales].each do |l| -%>
    <div class="language <%= l %>">
      <%= f.input :"slug(#{l})", :caption => mat(:taxonomy, :slug), :as => :string %>
    </div>
  <% end -%>
  <p><b>Attenzione</b> i parametri <em>permalink</em> (o <em>slug</em>) sono automaticamente generati via javascript. Normalmente non si avr&agrave; bisogno di modificarli</p>
</fieldset>


<div class='submit_link'>
  <%= f.submit pat(:save), :class => :alt_btn %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:taxonomy, :index)}';return false", :class => :button %>
</div>
