<div class="module_content">
  <% Cfg[:locales].each do |l| %>
    <div class="language <%=l%>">
      <%= f.input :"title(#{l})", :value => "#{f.object.title[l]}", :caption => "Titolo" %>
      <%= f.input :"lead(#{l})", :value => "#{f.object.lead[l]}", :caption => "Introduzione", :as => :text %>
      <%= f.input :"text(#{l})", :value => "#{f.object.text[l]}", :caption => "Testo", :as => :text, :class => :editor %>
    </div>
  <% end %>

  <div class="taxonomy">
    <h2>Tassonomia</h2>
    <%= partial "admin/taxonomy/chooser", :locals => { :f => f, :taxons => Taxonomy.threaded } %>
  </div>
</div>

<fieldset id='advanced'>
  <legend><i class="icon-cog"></i> Avanzate</legend>
  <% Cfg[:locales].each do |l| %>
    <%= f.input :"slug(#{l})", :value => "#{f.object.slug[l]}", :caption => 'Permalink', :as => :string, :class => l %>
  <%end%>
  <%= f.input :meta_keyword, :as => :string %>
  <%= f.input :meta_description, :as => :string %>
</fieldset>


<div class='form-actions'>
  <%= f.submit pat(:save), :class => "btn primary" %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:pages, :index)}';return false", :class => :btn %>
</div>

