<table  class="zebra-striped">
  <thead>
    <tr>
      <th class="sortable"><%= mat(:page, :title) %></th>
      <th class="sortable"><%= mat(:page, :taxonomy) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td>
          <% if page.taxonomy.size > 0 -%>
            <%= page.taxonomy.first['path'].to_s %>
          <% end -%>
          </td>
        <td>
          <%= button_to pat(:edit), url(:pages, :edit, :id => page.id), :method => :get, :class => 'btn edit' %>
          <%= button_to pat(:delete), url(:pages, :destroy, :id => page.id), :method => :delete, :class => 'btn trash', :onsubmit => "return confirm('#{pat(:confirm)}')" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :actions, partial("admin/base/actions", :locals => { :p => :pages }) %>

<% content_for :title, 'Pagine' %>
