<article>
  <h1><%= @post.title %></h1>

  <div class='lead'><%= @post.lead %></div>

  <% unless @post.photo.nil? %>
    <img src="<%= @post.photo.thumb(:big) %>" title="<%= @post.title %>">
  <% end %>

  <div class="text">
    <%= @post.text %>
  </div>
</article>
