<% Cfg[:locales].each do |l| -%>
	<div class="language <%= l %>">
		<%= f.input :"title(#{l})", :caption => mat(:taxonomy, :title), :as => :string, :value => f.object.title[l] %>
		<%= f.input :"description(#{l})", :caption => mat(:taxonomy, :description), :as => :text, :value => f.object.description[l],  :class => :editor %>
	</div>
<% end -%>

<hr>

<fieldset>
	<legend>Parente</legend>
	
	<label class="radio"><input type='radio' name="taxonomy[parent_id]" value="">Radice</label>
	<%= partial "admin/taxonomy/parent_chooser", :locals => { :f => f, :taxons => Taxonomy.threaded } %>
</fieldset>


<div class='form-actions'>
  <%= f.submit pat(:save), :class => "btn primary" %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:taxonomy, :index)}';return false", :class => :btn %>
</div>

