<table  class="zebra-striped">
  <thead>
    <tr>
      <th class="sortable"><%= mat(:taxonomy, :title) %></th>
      <th class="sortable"><%= mat(:taxonomy, :permalink) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @taxonomy.each do |tax| %>
      <tr>
        <td><%= tax.title %></td>
        <td><%= tax.path %></td>
        <td>
          <%= button_to pat(:edit), url(:taxonomy, :edit, :id => tax.id), :method => :get, :class => 'btn edit' %>
          <%= button_to pat(:delete), url(:taxonomy, :destroy, :id => tax.id), :method => :delete, :class => 'btn trash', :onsubmit => "return confirm('#{pat(:confirm)}')" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :actions, partial("admin/base/actions", :locals => { :p => :taxonomy }) %>
<% content_for :title, 'Tassonomia' %>
