<table cellspacing="0"> 
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= mat(:account, :name) %></th>
      <th><%= mat(:account, :surname) %></th>
      <th><%= mat(:account, :role) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= account.name %></td>
        <td><%= account.surname %></td>
        <td><%= account.role %></td>
        <td>
          <%= button_to pat(:edit), url(:accounts, :edit, :id => account.id), :method => :get, :class => [:button_to, :edit] %>
          <%= button_to pat(:delete), url(:accounts, :destroy, :id => account.id), :method => :delete, :class => [:button_to, :trash] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer></footer>

<% content_for :actions, partial("base/actions", :locals => { :p => :accounts }) %>
<% content_for :sidebar, partial("base/sidebar") %>
<% content_for :title, 'Utenti' %>