<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Admin</title>
	<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" charset="utf-8">
	<!--[if IE ]>
	<script src="/javascripts/libs/selectivizr.js" type="text/javascript"></script>
	<![endif]-->
	<script src="http://frenzart.com/js/modernizr.js" type="text/javascript" charset="utf-8"></script>

	<script src="http://frenzart.com/js/underscore.js" type="text/javascript"></script>
	<script src="http://frenzart.com/js/moment.js" type="text/javascript"></script>
	<script src="http://frenzart.com/js/fileuploader.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" src="/javascripts/admin/lib/ender<%= (Padrino.env == 'production')? '.min' : '' %>.js"></script>

	<script src="http://frenzart.com/js/ckeditor/ckeditor.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript" src="/javascripts/lazyload.js"></script>

	<link rel="stylesheet" href="/javascripts/uikit/ui.css">
	<script type="text/javascript" src="/javascripts/uikit/ui.js"></script>

	<script src="/javascripts/admin/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="admin">
	<header class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">Machete</a>
			<ul class="nav">
				<%= partial "admin/layouts/navigation" %>
			</ul>
			<div class="pull-right">
				<ul class="nav">
					<li><%= link_to 'S', url(:configurations, :index), :class => "sym config", :title => 'Configurazione' %></li>
					<li><%= link_to 'U', url(:accounts, :edit, :id => current_account.id), :class => "sym profile", :title => pat(:profile) %></li>
					<li><a id='site_link' target="_blank" href="<%= Cfg[:domain] %>" class="sym view-site" title="View Site">K</a></li>
					<li><%= link_to 'X', url(:sessions, :destroy), :method => :delete, :class => "sym logout", :title => pat(:logout)  %></li>
				</ul>
			</div>
		</div>
	  </div>
	</header>

	<%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert-message #{type}") }.join %>

	<section class="container-fluid" id="content">
		<div class="well">
			<h1 class='title'><%= yield_content :title %></h1>
			<p id='actions'>
				<%= yield_content :actions %>
			</p>
		</div>
		<hr>
		<div>
			<%= yield %>
		</div>
	</section>
	<footer><p>Copyright &copy; 2011 GTGames <a href='http://machete.it'>Machete v0.8.13</a></p></footer>
  </body>
</html>
