<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Admin</title>
	<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" charset="utf-8">
	<!--[if IE ]>
	<script src="/javascripts/libs/selectivizr.js" type="text/javascript"></script>
	<![endif]-->
	<script src="http://frenzart.com/js/modernizr.js" type="text/javascript" charset="utf-8"></script>

	<script src="http://frenzart.com/js/underscore.js" type="text/javascript"></script>
	<script src="http://frenzart.com/js/moment.js" type="text/javascript"></script>
	<script src="http://frenzart.com/js/fileuploader.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" src="/javascripts/admin/lib/ender<%= (Padrino.env == 'production')? '.min' : '' %>.js"></script>

	<script src="http://frenzart.com/js/ckeditor/ckeditor.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript" src="/javascripts/lazyload.js"></script>

	<link rel="stylesheet" href="/javascripts/uikit/ui.css">
	<script type="text/javascript" src="/javascripts/uikit/ui.js"></script>

	<script src="/javascripts/admin/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="admin">
	<header class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">Machete</a>
			<ul class="nav">
				<%= partial "admin/layouts/navigation" %>
			</ul>
			<div class="pull-right">
				<ul class="nav">
					<li><a class="config" title="Configurazione" href="/configurations">
						<i class="icon-cogs"></i></a></li>
					<li><a class="profile" title="Profilo" href="/accounts/edit/4e316e12fb28eff361000001">
						<i class="icon-user"></i>
					</a></li>
					<li><a class="view-site" id="site_link" target="_blank" href="http://machete.dev/" title="View Site">
						<i class="icon-share"></i>
					</a></li>
					<li><a class="logout" title="Esci" data-method="delete" rel="nofollow" href="/sessions/destroy">
						<i class="icon-off"></i>
					</a></li>
				</ul>
			</div>
		</div>
	  </div>
	</header>

	<%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert-message #{type}") }.join %>

	<section class="container-fluid" id="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<ul class="nav nav-list">
						<li class="nav-header">
							<%= yield_content :title %>
						</li>
						<%= yield_content :actions %>
					</ul>
				</div>
				<div class="span10">
					<%= yield %>
				</div>
			</div>
		</div>
	</section>
	<footer class="container-fluid"><p>Copyright &copy; 2011 GTGames <a href='http://machete.it'>Machete v0.9.0dev</a></p></footer>
  </body>
</html>
