<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Admin</title>
	<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" charset="utf-8">
	<!--[if IE ]>
	<script src="/javascripts/libs/selectivizr.js" type="text/javascript"></script>
	<![endif]-->
	<script src="http://frenzart.com/js/modernizr.js" type="text/javascript" charset="utf-8"></script>

	<script src="http://frenzart.com/js/underscore.js" type="text/javascript"></script>
	<script src="http://frenzart.com/js/underscore.date.js" type="text/javascript"></script>
	<script type="text/javascript">_date.translate('it');</script>
	<script src="http://frenzart.com/js/fileuploader.js" type="text/javascript" charset="utf-8"></script>

	<script src="http://frenzart.com/js/rightjs/right.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/dialog.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/in-edit.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/calendar.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/rte.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/selectable.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/lightbox.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/tabs.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/tags.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/tooltips.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://frenzart.com/js/rightjs/right/table.js" type="text/javascript" charset="utf-8"></script>

	<script src="/javascripts/admin/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="admin">
	<header class="topbar">
	  <div class="topbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">Machete</a>
			<ul class="nav">
				<%= partial "admin/layouts/navigation" %>
			</ul>
			<div class="pull-right">
				<ul>
					<li><% if Padrino.env == :development -%><a href='/base/reboot'>REBOOT</a><% end -%></li>
					<li><%= link_to 'Configurazione', url(:configurations, :index) %></li>
					<li><%= link_to pat(:profile), url(:accounts, :edit, :id => current_account.id) %></li>
					<li><a id='site_link' target="_blank" href="<%= Cfg[:domain] %>">View Site</a></li>
					<li><%= link_to pat(:logout), url(:sessions, :destroy), :method => :delete, :class => :logout_user %></li>
				</ul>
			</div>
		</div>
	  </div>
	</header>

	<%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert-message #{type}") }.join %>

	<section class="container-fluid" id="content">
		<div class="well">
			<h1 class='title'><%= yield_content :title %></h1>
			<p id='actions'>
				<%= yield_content :actions %>
			</p>
		</div>
		<hr>
		<div>
			<%= yield %>
		</div>
	</section>
	<footer><p>Copyright &copy; 2011 GTGames <a href='http://machete.it'>Machete v0.8.13</a></p></footer>
  </body>
</html>
