<div class="group">
  <%= f.label :aphorism %><%= f.error_message_on :aphorism %>
  <%= f.text_field :aphorism, :class => :text_field %>
  <span class="description">Testo detto popolare</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:aphorisms, :index)}';return false", :class => :button %>
</div>
