<%= f.input :title %>
<div class="">
	<label class=​"string" for=​"hotel_type">​Tipologia​</label>​
	<%= f.select :type, :options => cerca_hotel_type_options %>
</div>
<%= f.input :logo, :as => :file %>

<%= f.input :description, :as => :text %>

<fieldset>
	<legend>Attrezzatura Esercizio</legend>
	<%= f.select :features, :options => cerca_hotel_features_options, :multiple => true %>
</fieldset>
<fieldset>
	<legend>Posizione</legend>
	
	<%= f.input :address %>

	<%= f.input :elevation %>

	<input class="string" value="<%= f.object.loc[0] %>" id="hotel_lat" name="hotel[loc][]" type="hidden">
	<input class="string" value="<%= f.object.loc[1] %>" id="hotel_lng" name="hotel[loc][]" type="hidden">

	<% if Cfg[:domain] =~ /machete/ %>
	<script type="text/javascript" charset="utf-8">
		document.write([
		  '<script src="http://maps.googleapis.com/maps/api/js?sensor=false&key=', {
		    'machete.dev': 'ABQIAAAAFJC5GQPX-w6DsErzUPS_TxQfQ2HpL9heYXvk166R28mJhIGcpxQKqa7lF2TfhQRP2JKHmZ13pejsoQ',
		    'machete.it': 'ABQIAAAAFJC5GQPX-w6DsErzUPS_TxStbnZnjxb5KRvRpJSOL3Ab1clYURTwJ8j29Itl5FMjsWQRRQcYbJctYQ'
		  }[window.location.host.match(/(\w+\.\w+)$/)[0]],
		  '" type="text/javascript"><\/script>'
		].join(''));
	</script>
	<% else %>
		<script src="http://maps.googleapis.com/maps/api/js?api&v=2&key=<%= Cfg[:gmaps] %>" type="text/javascript"></script>
	<% end %>

	<script type="text/javascript">
		$(document).on('ready', function(){
			var map, center, marker, location, geocoder,
				latitude = $("hotel_lat"),
				longitude = $("hotel_lng"),
				elevation = $("hotel_elevation"), ele,
				lat, lng;

			lat = isNaN(parseFloat(latitude.get('value')))? 42.35085 : parseFloat(latitude.get('value')) ;
			lng = isNaN(parseFloat(latitude.get('value')))? 13.40004 : parseFloat(longitude.get('value')) ;

			location = new google.maps.LatLng(lat, lng);

			map = new google.maps.Map(document.getElementById("map"),{
				zoom: 8,
				center: location,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});

			marker = new google.maps.Marker({
				map: map,
				draggable: true,
				position: location
			});
			ele = new google.maps.ElevationService();
			geocoder = new google.maps.Geocoder();

			google.maps.event.addListener(map, 'center_changed', function(e) {
				center = map.getCenter();
				marker.setPosition(center);
				
				latitude.set('value', center.lat());
				longitude.set('value', center.lng());

				ele.getElevationForLocations({ locations:[center] }, function(result, status){
					if (status == "OK")	elevation.set('value', parseInt(result[0].elevation));
					else elevation.set('value', '');
				});
			});
			google.maps.event.addListener(marker, 'dragend', function(e) {
				map.panTo(marker.getPosition());
			});

			$('search_address').on('keypress', function(e){
				var key = window.event ? window.event.keyCode : e.which;
				if(key == 13){
					$('search_address_a').fire('click');
					return false;
				} else return e;
			});
			$('search_address_a').on('click', function(){
				var address = $('search_address').get('value');
				geocoder.geocode({address: address}, function(results, status){
					console.log(results);
					if (status == "OK")	map.panTo(results[0].geometry.location);
				});
			});
		});
	</script>
	<div id="map"></div>

	<div class="input-prepend map">
		<label class="add-on" for="search_address">Indirizzo</label>
		<input class="xlarge" id="search_address" name="search_address" size="16" type="text">
		<a id="search_address_a" class="btn">Search</a>
	</div>

</fieldset>

<div class="actions">
  <%= f.submit pat(:save), :class => "btn primary" %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:cerca_hotel, :index)}';return false", :class => :btn %>
</div>
