<%= f.input :title %>
<%= f.input :tel %>
<%= f.input :fax %>
<%= f.input :email %>

<div class="">
	<label class=​"string" for=​"hotel_type">​Tipologia​</label>​
	<%= f.select :type, :options => cerca_hotel_type_options %>
</div>
<%= f.input :logo, :as => :file %>

<%= f.input :description, :as => :text %>

<fieldset>
	<legend>Attrezzatura Esercizio</legend>
	<%= f.select :features, :options => cerca_hotel_features_options, :multiple => true %>
</fieldset>
<fieldset>
	<legend>Posizione</legend>
	
	<%= f.input :address %>

	<%= f.input :elevation %>

	<input class="string" value="<%= f.object.loc[0] %>" id="hotel_lat" name="hotel[loc][]" type="hidden">
	<input class="string" value="<%= f.object.loc[1] %>" id="hotel_lng" name="hotel[loc][]" type="hidden">

	<% if Cfg[:domain] =~ /machete/ %>
	<script type="text/javascript" charset="utf-8">
		document.write(
		    '<script src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyB8D6-Yr9AL-DQoNqhYH6bWCB6w2RmSKhk'
		  + '" type="text/javascript"><\/script>');
	</script>
	<% else %>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;key=<%= Cfg[:gmaps] %>" type="text/javascript"></script>
	<% end %>

	<script type="text/javascript">
		$(document).ready(function(){
			var map, center, marker, location, geocoder,
				latitude = $("#hotel_lat"),
				longitude = $("#hotel_lng"),
				elevation = $("#hotel_elevation"), ele,
				lat, lng;

			lat = isNaN(parseFloat(latitude.get('value')))? 42.35085 : parseFloat(latitude.get('value')) ;
			lng = isNaN(parseFloat(latitude.get('value')))? 13.40004 : parseFloat(longitude.get('value')) ;

			location = new google.maps.LatLng(lat, lng);

			map = new google.maps.Map(document.getElementById("map"),{
				zoom: 16,
				center: location,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});

			marker = new google.maps.Marker({
				map: map,
				draggable: true,
				position: location
			});
			ele = new google.maps.ElevationService();
			geocoder = new google.maps.Geocoder();


			var moveMarker = function(){
				var center, fn = _.debounce(function(){
					marker.setPosition(center);
				}, 500);
				return function(c) {
					center = c;
					fn();
				}
			}();


			google.maps.event.addListener(map, 'center_changed', function(e) {
				center = map.getCenter();
				
				moveMarker(center);

				latitude.val(center.lat());
				longitude.val(center.lng());

				ele.getElevationForLocations({ locations:[center] }, function(result, status){
					if (status == "OK")	elevation.val(parseInt(result[0].elevation));
					else elevation.val('');
				});
			});
			google.maps.event.addListener(marker, 'dragend', function(e) {
				map.panTo(marker.getPosition());
			});


			var geoFind = function(){
				var address = $('#search_address').val();
				geocoder.geocode({address: address}, function(results, status){
					if (status == "OK")	map.panTo(results[0].geometry.location);
				});
			}
			$('#search_address_form').bind('submit', geoFind);
			$('#search_address_a').bind('click', geoFind);
			$('#search_address').bind('keydown', function(e){
				if (e.keyCode == 13) {
					e.preventDefault();
					geoFind();
				}
			});
		});
	</script>
	<div id="map"></div>

	<div class="well">
			<div id="search_address_form" class="input-prepend input-append map">
				<input class="xlarge" id="search_address" name="search_address" size="16" type="text">
				<span class="add-on btn"><a id="search_address_a" href="javascript:{}">Cerca</a></span>
			</div>
	</div>
</fieldset>

<div class="form-actions">
  <%= f.submit pat(:save), :class => "btn primary" %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:cerca_hotel, :index)}';return false", :class => :btn %>
</div>
