!!! 5
%html
  %head
    %meta{:content => I18n.locale, :name => "lang"}/
    %meta{:content => "utf-8", :name => "charset"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Machete Administration - #{BASE_TITLE}
    -# CSS 
    %link{:href => "http://frenzart.com/css/admin.css", :rel => "stylesheet", :type => "text/css"}
    %script{:charset => "utf-8", :src => "http://frenzart.com/js/head.js", :type => "text/javascript"}

  %body

    %header.row
      .column.grid_12
        %a{ :href => url(:base_index) }
          %img#logo{ :src => "/images/machete.png", :title => "Machete Backend" }
        %ul#user-navigation
          %li
            %a{:href => "http://#{DOMAIN_NAME}/", :target => "_new"} vai al sito
          %li= link_to pat(:profile), url(:accounts, :edit, :id => current_account.id)
          %li= link_to pat(:logout), url(:sessions, :destroy), :method => :delete
      %nav.column
        %ul.grid_12#main-navigation
          - project_modules.each do |project_module|
            %li{:class => ((request.path_info =~ /^#{project_module.path}/)? "active" : "")}
              = link_to project_module.human_name, project_module.path("/")

    .flash.row
      = [:error, :warning, :notice].map { |type| flash_tag(type, :class => "column grid_12 message #{type}") }.join
    %section.row
      #main.column.grid_10
        = yield
      #sidebar.column.grid_2
        -# yield_content :sidebar
        %h2 Sketchbook
        %canvas#antistress{:width => '140', :height => '280'}
        #antistress_pen Penna
        #antistress_eraser Gomma
        #antistress_cleaner Pulisci
        #antistress_saver Salva

    %footer.row
      %p.column.grid_12
        Powered by
        %a{ :href => 'http://machete.it' } Machete
        Copyright &copy; #{Time.now.year}
        %a{ :href => 'http://gtgames.it' } GTGames.it

    %link{:href => "http://frenzart.com/js/mooeditable/Assets/MooEditable/MooEditable.css", :rel => "stylesheet", :type => "text/css"}
    %script
      head.js("http://frenzart.com/js/mootools/1.3.js",function(){
      head.js("http://frenzart.com/js/mootools/more.js").js(
      "http://frenzart.com/js/mooeditable/mooeditable.js").js(
      "http://frenzart.com/js/admin.js").js(
      "http://frenzart.com/js/antistress.js")
      });
    /[if lt IE 7 ]
      head.js("http://frenzart.com/js/iefix/dd_belatedpng.js?v=1")
    /[if lt IE 9 ]
      head.js("http://frenzart.com/js/iefix/dd_roundies.js?v=1").js("http://frenzart.com/js/iefix/excanvas.js?v=1").js("http://html5shim.googlecode.com/svn/trunk/html5.js")