<!DOCTYPE html>
<html>
<head>
  <meta name="lang" content="<%= I18n.locale %>" />
  <meta name="charset" content="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Frenzy Admin</title>

  <link href='/admin/stylesheets/admin.css' rel="stylesheet" type="text/css"/>
  <link href='/admin/stylesheets/theme.css' rel="stylesheet" type="text/css"/>

  <script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <!-- JQuery UI -->
  <script src='/admin/jqueryui/jquery-ui-1.8.4.min.js' type='text/javascript' charset='utf-8'></script>
  <link href='/admin/jqueryui/theme.css' rel="stylesheet" type="text/css"/>

  <script src='/admin/wmd/jquery.wmd.js' type='text/javascript' charset='utf-8'></script>
  <style type="text/css" media="screen">
    @import '/admin/wmd/wmd.css';
  </style>

  <script src="/admin/javascripts/admin.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
  <div id="container">
    <div id="header">
      <h1><%= link_to "Frenzy Admin", url(:base_index) %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="<%= options.frontend_url %>/" target="_new">vai al sito</a></li>
          <li><%= link_to pat(:profile), url(:accounts, :edit, :id => current_account.id) %></li>
          <li><%= link_to pat(:logout), url(:sessions, :destroy), :method => :delete %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <% project_modules.each do |project_module| %>
            <li class="<%= "active" if request.path_info =~ /^#{project_module.path}/ %>"><%= link_to project_module.human_name, project_module.path("/") %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> GTGames.it</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield_content :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
