<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet/less" href="/stylesheets/admin/layout.less" type="text/css" media="screen">
    <link rel="stylesheet/css" href="/stylesheets/admin/ui.css" type="text/css" media="screen">
    <script src="http://frenzart.com/js/less.js" type="text/javascript"></script>
    <% if Padrino.env == :development %>
      <script>less.env='development';less.watch();</script>
    <% end%>
    <!--[if IE ]>
    <script src="/javascripts/libs/selectivizr.js" type="text/javascript"></script>
    <![endif]-->
    <script src="http://frenzart.com/js/modernizr.js" type="text/javascript" charset="utf-8"></script>

    <script src="http://frenzart.com/js/underscore.js" type="text/javascript"></script>
    <script src="http://frenzart.com/js/date/<%= Cfg.locale %>.js" type="text/javascript"></script>
    <script src="http://frenzart.com/js/rfc3339date.js" type="text/javascript"></script>
    <script src="http://frenzart.com/js/fileuploader.js" type="text/javascript" charset="utf-8"></script>

    <script src="http://frenzart.com/js/rightjs/right.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/dialog.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/calendar.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/rte.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/selectable.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/lightbox.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/tabs.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/tags.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/tooltips.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://frenzart.com/js/rightjs/right/table.js" type="text/javascript" charset="utf-8"></script>

    <script src="/javascripts/admin/application.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <header>
    <div id='main_links'>
      <a id='site_title' href="/">Admin</a>
      <a id='site_link' target="_blank" href="<%= Cfg[:domain] %>">View Site</a>
      <div id='profile'>
        <% if Padrino.env == :development -%><a href='/base/reboot'>REBOOT</a> | <% end -%>
        <%= link_to 'Configurazione', url(:configurations, :index) %> |
        <%= link_to pat(:profile), url(:accounts, :edit, :id => current_account.id) %> |
        <%= link_to pat(:logout), url(:sessions, :destroy), :method => :delete, :class => :logout_user %>
      </div>
    </div>
    <nav>
    <%= partial 'layouts/navigation' %>
    </nav>
    </header>

    <section id="content">
    <div class="flash">
      <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
    </div>
    <h1 class='title'><%= yield_content :title %></h1>
    <div id='actions'>
      <%= yield_content :actions %>
    </div>
    <hr>
    <div class='in'>
      <%= yield %>
    </div>
    <div class="sidebar">
      <%= yield_content :sidebar %>
    </div>
    </section>
    <footer><p>Copyright &copy; 2011 GTGames <a href='http://machete.it'>Machete v0.8.10</a></p></footer>
    <!-- script src="http://cdn.<%= Cfg['domain'] %>/tiny_mce/tiny_mce.js" type="text/javascript"></script>
    <script src="http://cdn.<%= Cfg['domain'] %>/tiny_mce/machete_mce.js" type="text/javascript"></script -->
  </body>
</html>
