<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <link rel="stylesheet/less" href="/stylesheets/admin/layout.less" type="text/css" media="screen">
  <link rel="stylesheet/css" href="/stylesheets/admin/ui.css" type="text/css" media="screen">
  <script src="http://frenzart.com/js/less.js" type="text/javascript"></script>
  <% if PADRINO_ENV == 'development' %>
    <script>/*less.env='development';less.watch();*/less.unwatch()</script>
  <% end%>
  <!--[if IE ]>
    <script src="/javascripts/libs/selectivizr.js" type="text/javascript"></script>
  <![endif]-->
  <script src="http://frenzart.com/js/modernizr.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://frenzart.com/js/jquery/1.6.1.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <header>
    <div id='main_links'>
      <a id='site_title' href="/">Admin</a>
      <a id='site_link' href="<%= Cfg[:domain] %>">View Site</a>
      <div id='profile'>
		  <% if Padrino.env == :development -%><a href='/base/reboot'>REBOOT</a> | <% end -%>
        <%= link_to 'Configurazione', url(:configurations, :index) %> |
        <%= link_to pat(:profile), url(:accounts, :edit, :id => current_account.id) %> |
        <%= link_to pat(:logout), url(:sessions, :destroy), :method => :delete, :class => :logout_user %>
      </div>
    </div>
    <nav>
      <%= partial 'layouts/navigation' %>
      <!--<input id="filterform" type="search" placeholder="filtra i contenuti" class="search_box" name="search">-->
    </nav>
  </header>

  <section id="content">
    <div class="flash">
      <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
    </div>
    <h1 class='title'><%= yield_content :title %></h1>
    <div id='actions'>
      <%= yield_content :actions %>
    </div>
    <hr>
    <div class='in'>
      <%= yield %>
    </div>
    <div class="sidebar">
      <%= yield_content :sidebar %>
    </div>
  </section>
  <footer><p>Copyright &copy; 2011 GTGames <a href='http://machete.it'>Machete v0.8</a></p></footer>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.js"></script>
  <link rel="stylesheet/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" type="text/css" media="screen">
  <script src="/javascripts/admin/application.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://frenzart.com/js/jquery/simpletip.js" type="text/javascript"></script>
  <script src="http://frenzart.com/js/jquery/optiontree.js" type="text/javascript"></script>
  <script src="http://frenzart.com/js/jquery/tagit.js" type="text/javascript"></script>
  <script src="http://cdn.<%= Cfg["domain"] %>/tiny_mce/jquery.tinymce.js"></script>
  <script src="http://cdn.<%= Cfg["domain"] %>/tiny_mce/machete_mce.js"></script>
  <script src="http://frenzart.com/js/fileuploader.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
