<% @events.each do |e| -%>
  <div class="event">
    <h1><%= e.title%></h1>
    <div>
      dalle ore: <span class="date"><%= e.from %></span> alle <span class="date"><%= e.to %></span>
    </div>

    <%= image_tag(e.file.thumb(400xx)) if !e.file.nil? %>

    <div class="description"><%= e.description %></div>
  </div>
<% end -%>
