<article>
  <h1><%= @post.title %></h1>

  <div class='lead'><%= @post.subtitle %></div>

  <% unless @post.photo.empty? %>
    <img src="<%= @post.photo.url %>" title="<%= @post.title %>">
  <% end %>

  <div>
    <%= @post.text %>
  </div>
</article>
