<%= f.input :title %>
<%= f.input :description, :as => :text %>

<%= f.input :from, :class => :date %>
<%= f.text_field :to, :class => :date %>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:events, :index)}';return false", :class => :button %>
</div>
