<% if Cfg[:twitter] -%>
<a href="http://twitter.com/share" class="socialite twitter" data-text="<%=hh Cfg[:title][Cfg.locale] %>+<%=hh yield_content(:title) %>" data-url="http://<%=Cfg[:domain]%>" data-count="vertical" data-via="<%=Cfg[:twitter]['user'] %>" rel="nofollow" target="_blank"><span>Share on Twitter</span></a>
<% end -%>

<a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=<%=hh Cfg[:domain]%>" class="socialite googleplus" data-size="medium" data-href="http://<%=Cfg[:domain]%>" rel="nofollow" target="_blank"><span>Share on Google+</span></a>

<a href="http://www.facebook.com/sharer.php?u=http://<%=Cfg[:domain]%>&amp;t=<%= Cfg[:domain] %>" class="socialite facebook" data-href="<%=Cfg[:domain]%>" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span>Share on Facebook</span></a>

<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://<%=hh Cfg[:domain]%>&amp;title=<%=hh Cfg[:title][Cfg.locale] %>+<%=hh yield_content(:title) %>" class="socialite linkedin" data-url="http://<%=Cfg[:domain]%>" data-counter="right" rel="nofollow" target="_blank"><span>Share on LinkedIn</span></a>

<script src="http://frenzart.com/js/socialite.js" type="text/javascript"></script>
<script type="text/javascript">Socialite.load();</script>