<ul class="breadcrumb">
	<li><%= link_to 'Cerca Hotel', url(:index) %> <span class="divider">/</span></li>
	<li class="active"><%= link_to @hotel.title, url(:show, :slug => @hotel.slug) %></li>
</ul>

<div class="hotel">
	<h1><%= @hotel.title %></h1>
	<%= image_tag @hotel.logo.thumb('300x') unless @hotel.logo.empty? %>
	<div class="text">
		<%= @hotel.description %>
	</div>
	<ul>
		<% @hotel.features.each do |f| -%>
			<li>
				<%= image_tag "http://frenzart.com/machete/images/cercahotel/#{f}.png" %>
				<%= t"cercahotel.features.#{f}" %>
			</li>
		<% end -%>
	</ul>
	
	<img class="map" src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @hotel.lat %>,<%= @hotel.lng %>&amp;markers=color:blue%7C<%= @hotel.lat %>,<%= @hotel.lng %>&amp;zoom=20&amp;size=400x400&amp;sensor=false">
</div>


<div>Coords
<%= @hotel.lat %>,<%= @hotel.lng %></div>