<%= f.input :title %>

<%= f.input :file, :as => :file %>

<%= f.input :description, :as => :text %>

<%= f.input :from %>
<%= f.input :to %>

<%= f.input :tag_list %>

<div class="actions">
  <%= f.submit pat(:save), :class => "btn primary" %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:events, :index)}';return false", :class => :btn %>
</div>
