<% if @taxonomy -%>
  <div class="taxonomy">
    <h1><%= @taxonomy.title %></h1>
    <div class="description"><%= @taxonomy.description %></div>
  </div>
<% end -%>
<article>
<h1><%= @pages.title %></h1>
<div class='lead'>
  <%= @pages.lead %>
</div>
<div class='text'>
  <%= @pages.text %>
</div>
</article>
