<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:40px">&nbsp;</th>
			<th class="sortable"><%= mat(:booking, :name) %></th>
			<th class="sortable"><%= mat(:booking, :business_name) %></th>
			<th class="sortable"><%= mat(:booking, :date_arrival) %></th>
			<th class="sortable"><%= mat(:booking, :date_departure) %></th>
			<th class="last">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book| %>
		<tr class="">
			<td>
				<% if book.st == 0 %>
					<span class="label">read</span>
				<% elsif book.st == 1 %>
					<span class="label label-important">new</span>
				<% else %>
					<span class="label">deleted</span>
				<% end %>
			</td>
			<td><%= book.name %> <%= book.surname %> </td>
			<td><em><%= book.business_name %></em></td>
			<td class="date"><%= book.date_arrival %></td>
			<td class="date"><%= book.date_departure %></td>
			<td class="last">
				<%= edit_button pat(:show), url(:booking, :show, :id => book.id) %>
				<%= delete_button pat(:delete), url(:booking, :destroy, :id => book.id) %>

			</td>
		</tr>
		<% end %>
	</tbody>
</table>


<% content_for :actions do -%>
	<li><a href="/booking"><i class="icon-inbox"></i>  Lista</a></li>
	<li><a href="/booking/trash"><i class="icon-trash"></i>  Cestino</a></li>
<% end -%>

<% content_for :title, 'Prenotazioni' %>
