<!DOCTYPE HTML>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" type="text/css" title="a complete stylesheet" charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <script src="/javascripts/modernizr-1.5.min.js"></script>
  
  
  <title><%= config.base_title %> <%= yield_content :title %></title>
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
  <div id="content_wrapper">
    <nav class="row top">
      <ul>
        <% menu.each do |m| %>
          <li><a href="<%= m.iurl %>" alt="<%= m.alt %>"><%= m.title %></a></li>
        <% end %>
      </ul>
    </nav>
    <div class="row">
      <header class="column grid_3">
        <img class="grid_3" id="logo" src="/images/logo.png">
        <nav class="grid_3 left">
          <%= tree %>
        </nav>
      </header>
      <section class="column grid_9 content">
        <div id="fortune"><%=h fortune%></div>
        <%= yield %>
      </section>
    </div>
    <footer>
      <div>
        <p>via Roma snc, 67020 Fontecchio AQ</p>
        <p>Telefono +39.349 09 17 950</p>
        <p>Telefono +39.348 60 13 718</p>
        <p>Email: <a href="">info [at] gtgames [dot] it</a></p>
      </div>
    </footer>
  </div>
  
  <script src='/javascripts/mootools-core.js' type='text/javascript' charset='utf-8'></script>
  <script src='/javascripts/application.js' type='text/javascript' charset='utf-8'></script>
  <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
  <![endif]--><!--[if lt IE 9 ]>
    <script src="js/dd_roundies.js?v=1"></script>
  <![endif]-->
</body>
</html>